<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="afash.ir" content="afash.ir">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat detail</title>
</head>
<body>
    <h2>Chat</h2>
    <ul>
        {% for message in messages %}
        <li>{{ message.sender.username }}: {{ message.text }}</li>
        {% endfor %}
    </ul>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>

</body>
</html>